@import '../../variables';

#SkillShaker-HP {
  .full-height-container {
    height: 90vh;
    .full-height-column {
      height: 100%;
    }
    .footer-row {
      height: 10vh;
      .footer {
        z-index: 1;
        text-align: center;
        padding: 15px;
        border-top: 1px solid $grey;
        padding: 0px;
        .profil {
          padding: 15px;
          border-right: 1px solid $grey;
          .user {
            display: flex;
            justify-content: space-between;
            .picture {
              img {
                border-radius: 50px;
              }
            }
            .informationsSection {
              display: flex;
              align-items: center;
              .name {
                font-weight: $medium;
              }
            }
            .profilIcon {
              position: relative;
              svg {
                cursor: pointer;
              }
              .menuProfil {
                background-color: $skillshaker-red-color;
                position: absolute;
                bottom: 55px;
                left: 7px;
                z-index: 9999;
                li {
                  padding: 10px;
                  button {
                    color: $light;
                    border: none;
                    background-color: transparent;
                  }
                }
              }
            }
          }
        }
        .write-tag {
          padding: 15px;
          .msg {
            display: flex;
            align-items: center;
            position: relative;
            input {
              width: 80%;
              border-radius: 10px;
              border: 1px solid $grey;
              background-color: $background-input;
              padding: 10px;
              outline: none;
            }
            .allTagsSearchBar {
              position: absolute;
              z-index: 9999;
              left: 3px;
              &.active {
                height: 100px;
                bottom: 44px;
                width: 80%;
                overflow-y: scroll;
                overflow-x: hidden;
                background-color: $light;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top: 1px solid black;
                border-left: 1px solid black;
                border-right: 1px solid black;
                .my-tag-class,
                .suggested-tag-class,
                .refused-tag-class {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 10px;
                  cursor: pointer;
                  .tagName {
                    margin-right: 10px;
                  }
                  .audience {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $skillshaker-red-color;
                    color: $light;
                    text-align: center;
                    line-height: 30px;
                  }
                }
                .refused-tag-class,
                .suggested-tag-class {
                  opacity: 0.5;
                }
              }
            }
            svg {
              margin-left: 15px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $skillshaker-red-color;
              color: $light;
              text-align: center;
              line-height: 30px;
              padding: 5px;
              cursor: pointer;
            }
          }
          .audience-bloc {
            margin-top: 10px;
            font-size: $short-size;
            display: flex;
          }
        }
      }
    }
    .tags {
      border-right: 1px solid $grey;
      #SkillShaker-Header {
        max-width: auto;
        justify-content: center;
      }
      h2 {
        margin: 15px 0px 15px 0px;
        font-weight: $medium;
        font-size: $medium-size;
      }
      .tags-gestion {
        .search {
          width: 100%;
          margin-bottom: 15px;
          border-radius: 10px;
          border: 1px solid $grey;
          background-color: $background-input;
          padding: 10px;
          outline: none;
        }
        .myTags.isOpenTags,
        .refusedTags.isOpenTags {
          height: 300px;
        }
        .myTags.isOpenTags {
          margin-bottom: 50px;
        }
        .myTags,
        .refusedTags {
          padding-right: 5px;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 100%;
          .titlesTags {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            font-weight: $medium;
            font-size: $light-size;
            svg {
              cursor: pointer;
            }
          }
          .tag-content {
            font-size: 16px;
            width: 250px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid $dark-mode;
            margin: 15px 15px 15px 0px;
            padding: 15px 20px;
            position: relative;
            .pop-notif {
              position: absolute;
              left: 230px;
              bottom: 30px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
              color: #ffffff;
              text-align: center;
              line-height: 30px;
            }
            .audience {
              font-weight: $medium;
              color: $dark-mode;
              display: flex;
              justify-content: space-between;
              align-items: center;
              svg {
                margin-right: 5px;
              }
            }
            .check-tag {
              color: $tags;
            }
            .bin-tag {
              color: $skillshaker-red-color;
            }
          }
        }
        .myTags {
          .tag-content {
            .bin-tag {
              cursor: pointer;
            }
          }
        }
        .refusedTags {
          .tag-content {
            .bin-tag {
              opacity: 0.5;
            }
            .check-tag {
              cursor: pointer;
            }
          }
        }
      }
    }
    .conversations {
      .search {
        margin-top: 25px;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid $grey;
        background-color: $background-input;
        padding: 10px;
        outline: none;
      }
      .all-conversations {
        padding: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        .show-conversations {
          display: flex;
          justify-content: space-between;
          h2 {
            font-weight: $medium;
            font-size: $light-size;
          }
          p {
            svg {
              cursor: pointer;
            }
          }
        }
        .list.isOpenList {
          height: 300px;
        }
        .list {
          h2 {
            font-weight: $lighter;
            padding: 15px 0px 15px 0px;
            font-size: 16px;
            background: linear-gradient(to right, #673ab7 0%, #ff6f00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          ul {
            li {
              .profil {
                display: flex;
                justify-content: space-between;
                .picture {
                  padding-right: 5px;
                  img {
                    border-radius: 50px;
                  }
                }
                .informationsSection {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  .name {
                    font-weight: $medium;
                    span {
                      font-weight: normal;
                    }
                  }
                  .msg {
                    white-space: nowrap;
                  }
                }
              }
            }
          }

          .profilIcon {
            svg {
              cursor: pointer;
            }
          }
        }
      }
      .blocked-conversations {
        padding: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        .show-blocked-conversations {
          display: flex;
          justify-content: space-between;
          h2 {
            font-weight: $medium;
            font-size: $light-size;
          }
          p {
            svg {
              cursor: pointer;
            }
          }
        }
        .list {
          h2 {
            font-weight: $lighter;
            padding: 15px 0px 15px 0px;
            font-size: 16px;
            background: linear-gradient(to right, #673ab7 0%, #ff6f00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          ul {
            li {
              .profil {
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
                .picture {
                  padding-right: 5px;
                  img {
                    border-radius: 50px;
                  }
                }
                .informationsSection {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  .name {
                    font-weight: $medium;
                    span {
                      font-weight: normal;
                    }
                  }
                  .msg {
                    white-space: nowrap;
                  }
                }
                .profilIcon {
                  svg {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
    .messages {
      overflow: hidden;
      padding: 0px;
      border-left: 1px solid $grey;
      .title-home-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid $grey;
        box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.3);
        .title.home-page {
          font-weight: $medium;
          font-size: 24px;
        }
        .notifications {
          font-size: $big-size;
        }
      }
      .no-new-messages {
        margin-top: 50px;
      }
      #messagesUsers {
        height: 90%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        .today-banner {
          margin: 30px 0px 30px 0px;
          width: 100%;
          text-align: center;
          height: 1px;
          background-image: linear-gradient(to right, #ff6f00, #ff3548, #ec0077, #ba149f, #673ab7);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            padding: 10px 31px 10px 31px;
            border-radius: 10px;
            background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
            color: $light;
            font-size: $med-size;
            font-weight: $medium;
          }
        }
        .messageUser {
          display: flex;
          justify-content: space-between;
          width: 800px;
          margin: 15px auto;
          .profilPic {
            margin-right: 15px;
            img {
              border-radius: 50px;
            }
          }
          .messageBody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .infosUser {
              font-weight: $medium;
              margin-bottom: 10px;
              display: flex;
              justify-content: space-between;
              .hourMessage {
                position: relative;
                .menuMessage {
                  position: absolute;
                  top: 25px;
                  left: 52px;
                  background-color: $skillshaker-red-color;
                  z-index: 9999;

                  li {
                    font-weight: normal;
                    padding: 10px;
                    color: $light;
                    width: 200px;
                    cursor: pointer;
                  }
                }
                svg {
                  cursor: pointer;
                }
              }
            }
            .fullMessage {
              margin-bottom: 15px;
              .hashtag {
                color: $skillshaker-red-color;
                font-weight: 700;
              }
            }
            .peopleTags {
              .peopleFollowing {
                color: $skillshaker-red-color;
                font-weight: 700;
              }
            }
          }
        }
        .banner-suggested-tags {
          width: 100%;
          background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
          color: $light;
          padding: 50px 0px 50px 0px;
          text-align: center;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .name-tag {
            font-weight: $medium;
            font-size: $bigger-size;
            padding-bottom: 45px;
          }
          .audience {
            font-weight: $medium;
            font-size: $med-size;
          }
          .icon-bin,
          .icon-check {
            svg {
              width: 48px;
              height: 48px;
              cursor: pointer;
            }
          }
        }
        .fade-out {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .banner-suggested-tags.fade-out {
          transition: 0.5s;
          height: 0px;
          padding: 0px;
        }
        .load-more {
          width: 200px;
          background-color: $skillshaker-red-color;
          border: none;
          color: $light;
          padding: 10px 20px;
        }
      }
    }
  }
}
