@import '../../variables';

#SkillShaker-HP {
  .full-height-container {
    height: 100vh;
    .full-height-column {
      height: 100%;
    }
    .tags {
      border-right: 1px solid $grey;
      #SkillShaker-Header {
        max-width: auto;
        justify-content: center;
      }
      h2 {
        margin: 15px 0px 15px 0px;
        font-weight: $medium;
        font-size: $medium-size;
      }
      .tags-gestion {
        .search {
          width: 100%;
          margin-bottom: 15px;
          border-radius: 10px;
          border: 1px solid $grey;
          background-color: $background-input;
          padding: 10px;
          outline: none;
        }
        .myTags.isOpenTags,
        .refusedTags.isOpenTags {
          height: 250px;
        }
        .myTags.isOpenTags {
          margin-bottom: 50px;
        }
        .myTags,
        .refusedTags {
          padding-right: 5px;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 100%;
          .titlesTags {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            font-weight: $medium;
            font-size: $light-size;
            svg {
              cursor: pointer;
            }
          }
          .tag-content {
            font-size: 16px;
            width: 250px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid $dark-mode;
            margin: 15px 15px 15px 0px;
            padding: 15px 20px;
            position: relative;
            .pop-notif {
              position: absolute;
              left: 230px;
              bottom: 30px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
              color: #ffffff;
              text-align: center;
              line-height: 30px;
            }
            .audience {
              font-weight: $medium;
              color: $dark-mode;
              display: flex;
              justify-content: space-between;
              align-items: center;
              svg {
                margin-right: 5px;
              }
            }
            .check-tag {
              color: $tags;
            }
            .bin-tag {
              color: $skillshaker-red-color;
            }
          }
        }
        .myTags {
          .no-tags {
            padding-top: 15px;
            text-align: center;
          }
          .tag-content {
            .bin-tag {
              cursor: pointer;
            }
          }
        }
        .refusedTags {
          .no-tags {
            padding-top: 15px;
            text-align: center;
          }
          .tag-content {
            .bin-tag {
              opacity: 0.5;
            }
            .check-tag {
              cursor: pointer;
            }
          }
        }
      }
      .user {
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
        .picture {
          img {
            border-radius: 50px;
          }
        }
        .informationsSection {
          display: flex;
          align-items: center;
          .name {
            font-weight: $medium;
          }
        }
        .profilIcon {
          position: relative;
          svg {
            cursor: pointer;
          }
          .menuProfil {
            background-color: $skillshaker-red-color;
            position: absolute;
            top: 19px;
            left: 6px;
            z-index: 9999;
            li {
              padding: 10px;
              button {
                color: $light;
                border: none;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
    .conversations {
      .search {
        margin-top: 25px;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid $grey;
        background-color: $background-input;
        padding: 10px;
        outline: none;
      }
      .all-conversations {
        padding: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 20px;
        .show-conversations {
          display: flex;
          justify-content: space-between;
          h2 {
            font-weight: $medium;
            font-size: $light-size;
          }
          p {
            svg {
              cursor: pointer;
            }
          }
        }
        .list.isOpenList {
          height: 250px;
        }
        .list {
          h2 {
            font-weight: $lighter;
            padding: 15px 0px 15px 0px;
            font-size: 16px;
            background: linear-gradient(to right, #673ab7 0%, #ff6f00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          ul {
            li {
              position: relative;
              cursor: pointer;
              .profil {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .message {
                  display: flex;
                  flex-direction: row;
                  img {
                    border-radius: 50px;
                    margin-right: 5px;
                  }
                  .informationsSection {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .name {
                      font-weight: $medium;
                      span {
                        font-weight: normal;
                      }
                    }
                    .msg {
                      white-space: nowrap;
                    }
                  }
                }
              }
              .notification-conversation {
                position: absolute;
                bottom: 32px;
                right: 25px;
                font-size: $short-size;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
                color: $light;
                text-align: center;
                line-height: 15px;
              }
            }
          }

          .profilIcon {
            svg {
              cursor: pointer;
            }
          }

          .no-conversations {
            padding-top: 15px;
            text-align: center;
          }
        }
      }
      .blocked-conversations {
        padding: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        .show-blocked-conversations {
          display: flex;
          justify-content: space-between;
          h2 {
            font-weight: $medium;
            font-size: $light-size;
          }
          p {
            svg {
              cursor: pointer;
            }
          }
        }
        .list {
          cursor: pointer;
          h2 {
            font-weight: $lighter;
            padding: 15px 0px 15px 0px;
            font-size: 16px;
            background: linear-gradient(to right, #673ab7 0%, #ff6f00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          ul {
            li {
              .profil {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                .message {
                  display: flex;
                  flex-direction: row;
                  img {
                    border-radius: 50px;
                    margin-right: 5px;
                  }
                  .informationsSection {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .name {
                      font-weight: $medium;
                      span {
                        font-weight: normal;
                      }
                    }
                    .msg {
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .messages {
      overflow: hidden;
      padding: 0px;
      border-left: 1px solid $grey;
      .title-home-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid $grey;
        box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.3);
        .title.home-page {
          font-weight: $medium;
          font-size: 24px;
        }
        .notifications {
          font-size: $big-size;
        }
      }
      .no-new-messages {
        margin-top: 50px;
      }
      #messagesUsers {
        height: 80%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        .today-banner {
          margin: 30px 0px 30px 0px;
          width: 100%;
          text-align: center;
          height: 1px;
          background-image: linear-gradient(to right, #ff6f00, #ff3548, #ec0077, #ba149f, #673ab7);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            padding: 10px 31px 10px 31px;
            border-radius: 10px;
            background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
            color: $light;
            font-size: $med-size;
            font-weight: $medium;
          }
        }
        .messageUser {
          display: flex;
          justify-content: space-between;
          width: 800px;
          margin: 15px auto;
          .profilPic {
            margin-right: 15px;
            img {
              border-radius: 50px;
            }
          }
          .messageBody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .infosUser {
              font-weight: $medium;
              margin-bottom: 10px;
              display: flex;
              justify-content: space-between;
              .hourMessage {
                position: relative;
                .menuMessage {
                  position: absolute;
                  top: 25px;
                  left: 52px;
                  background-color: $skillshaker-red-color;
                  z-index: 9999;

                  li {
                    font-weight: normal;
                    padding: 10px;
                    color: $light;
                    width: 200px;
                    cursor: pointer;
                  }
                }
                svg {
                  cursor: pointer;
                }
              }
            }
            .fullMessage {
              margin-bottom: 15px;
              .hashtag {
                color: $skillshaker-red-color;
                font-weight: 700;
              }
            }
            .peopleTags {
              display: flex;
              justify-content: space-between;
              .peopleFollowing {
                color: $skillshaker-red-color;
                font-weight: 700;
              }
              .sendMessage {
                svg {
                  cursor: pointer;
                  color: $light-blue;
                }
              }
            }
          }
        }
        .banner-suggested-tags {
          width: 100%;
          background-image: linear-gradient(to right, #673ab7, #ba149f, #ec0077, #ff3548, #ff6f00);
          color: $light;
          padding: 50px 0px 50px 0px;
          text-align: center;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .name-tag {
            font-weight: $medium;
            font-size: $bigger-size;
            padding-bottom: 45px;
          }
          .audience {
            font-weight: $medium;
            font-size: $med-size;
          }
          .icon-bin,
          .icon-check {
            svg {
              width: 48px;
              height: 48px;
              cursor: pointer;
            }
          }
        }
        .fade-out {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .banner-suggested-tags.fade-out {
          transition: 0.5s;
          height: 0px;
          padding: 0px;
        }
        .load-more {
          width: 200px;
          background-color: $skillshaker-red-color;
          border: none;
          color: $light;
          padding: 10px 20px;
        }
      }
      .msg {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 0px 0px 15px;
        border-top: 1px solid $grey;
        input {
          width: 80%;
          border-radius: 10px;
          border: 1px solid $grey;
          background-color: $background-input;
          padding: 10px;
          outline: none;
        }
        .allTagsSearchBar {
          position: absolute;
          z-index: 9999;
          left: 15px;
          &.active {
            height: 100px;
            bottom: 44px;
            width: 79%;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: $light;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 1px solid $grey;
            .my-tag-class,
            .suggested-tag-class,
            .refused-tag-class {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              cursor: pointer;
              .tagName {
                margin-right: 10px;
              }
              .audience {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $skillshaker-red-color;
                color: $light;
                text-align: center;
                line-height: 30px;
              }
            }
            .refused-tag-class,
            .suggested-tag-class {
              opacity: 0.5;
            }
          }
        }
        svg {
          margin-left: 15px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $skillshaker-red-color;
          color: $light;
          text-align: center;
          line-height: 30px;
          padding: 5px;
          cursor: pointer;
        }
      }
      .audience-bloc {
        margin: 10px 0px 0px 15px;
        font-size: $short-size;
        display: flex;
      }
    }
  }
}
