{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 150,
  "htmlWhitespaceSensitivity": "strict",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": true,
  "trailingComma": "es5",
  "bracketSameLine": false,

  "importOrder": ["^react$", "^styled-components$", "^(next/(.*)$)|^(next$)", "<THIRD_PARTY_MODULES>", "^../", "^./"],
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true
}
