$dark-grey: #666;
$skillshaker-red-color: #b82222;
$skillshaker-dark-red: #5f0000;
$blue: #0d86ca;
$light-blue: #2f80ed;
$dark: #1d2226;
$tags: #219653;
$background-input: #ece9e9;

// DARK MODE
$dark-mode: #000;

// LIGHT MODE
$light-mode: #f7f7f7;
$grey: #cccccc;
$light: #fff;

// BOLD
$medium: 700;

// SIZE
$short-size: 12px;
$light-size: 18px;
$medium-size: 24px;
$big-size: 30px;
