@import './_variables.scss';
@font-face {
  font-family: 'OpenSans';
  src: url(../public/assets/fonts/OpenSans.ttf) format('truetype');
}

// SCROLLBAR
/* Styles pour la barre de défilement */
::-webkit-scrollbar {
  width: 5px; /* Largeur de la barre de défilement */
}

/* Styles pour le track (fond) */
::-webkit-scrollbar-track {
  background: transparent; /* Couleur du fond */
  border-radius: 5px; /* Bords arrondis */
}

/* Styles pour le thumb (poignée) */
::-webkit-scrollbar-thumb {
  background: $skillshaker-red-color;
  border-radius: 5px; /* Bords arrondis */

  &:hover {
    background: $skillshaker-dark-red;
  }
}

#App {
  overflow: hidden;
  position: relative;
  height: 100vh;
  font-family: 'OpenSans';
}

// DARK LIGHT MODE
#LightDarkMode {
  font-size: 25px;
  position: absolute;
  left: 467px;
  padding: 10px 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  .mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $skillshaker-red-color;
    font-size: 25px;
  }
}

#App.dark-mode {
  color: $grey;
  background-color: $dark-mode;
  #LightDarkMode {
    background-color: $dark;
    border-left: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;
    .mode {
      color: $light;
    }
  }
  #SkillShaker-Auth {
    #SkillShaker-Form {
      #Form-Login,
      #Form-Register,
      #Form-Forgotten-Password {
        div {
          input[type='submit'] {
            box-shadow: 0px 0px 13px -3px $light;
          }
        }
      }
      #Button-Auth {
        button {
          box-shadow: 0px 0px 13px -3px $light;
        }
        a {
          color: $grey;
        }
      }
    }
  }
  #SkillShaker-HP {
    .tags {
      .tags-gestion {
        .tag-content {
          border: 1px solid $grey;
        }
      }
    }
  }
  .footer {
    background-color: $dark-mode;
  }
}

#App.light-mode {
  background-color: $light-mode;
  #LightDarkMode {
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    background-color: $light-mode;
  }
  #SkillShaker-HP {
    .tags {
      .tags-gestion {
        .tag-content {
          border: 1px solid $grey;
        }
      }
    }
    .footer {
      background-color: $light;
    }
  }
}
